
/*公用的0.5px边框*/
.border:after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:6px;
    border-radius:6px;
    background-color: transparent;
    border: 1px solid #d0d0d0;
}
.split:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border-right: 1px solid #d0d0d0;
}
.line:after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #d0d0d0;
    z-index: 2;
}


@media only screen and (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),(min-resolution:1.5dppx){
    .border:after {
        width: 150%;height:150%;
        -webkit-transform:scale(.6666);
        -moz-transform:scale(.6666);
        -ms-transform:scale(.6666);
        -o-transform:scale(.6666);
        transform:scale(.6666);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    .split:after{
        -webkit-transform:scaleX(.6666);
        -moz-transform:scaleX(.6666);
        -ms-transform:scaleX(.6666);
        -o-transform:scaleX(.6666);
        transform:scaleX(.6666);
        -webkit-transform-origin: 100% 0;
    }
    /*特权异化*/
    .page-privilege .mod-list .list-item.split:before{
        -webkit-transform:scaleX(.6666);
        -moz-transform:scaleX(.6666);
        -ms-transform:scaleX(.6666);
        -o-transform:scaleX(.6666);
        transform:scaleX(.6666);
        -webkit-transform-origin: 100% 0;
    }
    .line:after{
        -webkit-transform:scaleY(.6666);
        -moz-transform:scaleY(.6666);
        -ms-transform:scaleY(.6666);
        -o-transform:scaleY(.6666);
        transform:scaleY(.6666);
        -webkit-transform-origin: 0 100%;
    }
    .header-bg:after{
        width: 150%;height:150%;
        -webkit-transform:scale(.6666);
        -moz-transform:scale(.6666);
        -ms-transform:scale(.6666);
        -o-transform:scale(.6666);
        transform:scale(.6666);
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi),(min-resolution:2dppx){
    .border:after {
        width: 200%;height: 200%;
        -webkit-transform:scale(.5);
        -moz-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
        transform:scale(.5);
    }
    .split:after{
        -webkit-transform:scaleX(.5);
        -moz-transform:scaleX(.5);
        -ms-transform:scaleX(.5);
        -o-transform:scaleX(.5);
        transform:scaleX(.5);
        -webkit-transform-origin: 100% 0;
    }
    /*特权异化*/
    .page-privilege .mod-list .list-item.split:before{
        -webkit-transform:scaleX(.5);
        -moz-transform:scaleX(.5);
        -ms-transform:scaleX(.5);
        -o-transform:scaleX(.5);
        transform:scaleX(.5);
        -webkit-transform-origin: 100% 0;
    }
    .line:after{
        -webkit-transform:scaleY(.5);
        -moz-transform:scaleY(.5);
        -ms-transform:scaleY(.5);
        -o-transform:scaleY(.5);
        transform:scaleY(.5);
        -webkit-transform-origin: 0 100%;
    }
    .header-bg:after{
        width: 200%;height: 200%;
        -webkit-transform:scale(.5);
        -moz-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
        transform:scale(.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:3),(min-resolution:288dpi),(min-resolution:3dppx){
    .border:after {
        width: 300%;height: 300%;
        -webkit-transform:scale(.3333);
        -moz-transform:scale(.3333);
        -ms-transform:scale(.3333);
        -o-transform:scale(.3333);
        transform:scale(.3333);
    }
    .split:after{
        -webkit-transform:scaleX(.3333);
        -moz-transform:scaleX(.3333);
        -ms-transform:scaleX(.3333);
        -o-transform:scaleX(.3333);
        transform:scaleX(.3333);
        -webkit-transform-origin: 100% 0;
    }
    /*特权异化*/
    .page-privilege .mod-list .list-item.split:before{
        -webkit-transform:scaleX(.3333);
        -moz-transform:scaleX(.3333);
        -ms-transform:scaleX(.3333);
        -o-transform:scaleX(.3333);
        transform:scaleX(.3333);
        -webkit-transform-origin: 100% 0;
    }
    .line:after{
        -webkit-transform:scaleY(.3333);
        -moz-transform:scaleY(.3333);
        -ms-transform:scaleY(.3333);
        -o-transform:scaleY(.3333);
        transform:scaleY(.3333);
        -webkit-transform-origin: 0 100%;
    }
    .header-bg:after{
        width: 300%;height: 300%;
        -webkit-transform:scale(.3333);
        -moz-transform:scale(.3333);
        -ms-transform:scale(.3333);
        -o-transform:scale(.3333);
        transform:scale(.3333);
    }
}